@*
Copyright (C) 2023  
Elias Stepanik: https://github.com/eliasstepanik
Olivia Streun: https://github.com/nnuuvv

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see https://www.gnu.org/licenses/.
*@

@page "/produkte"

@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.EntityFrameworkCore;
@using Kassensystem.Data;
@using Kassensystem.Components;
@inject NavigationManager Navigation
@inject IDbContextFactory<ApplicationDbContext> _contextFactory;
@inject DialogService DialogService

@implements IAsyncDisposable


<h3>Produkte</h3>

<RadzenButton Style="margin-bottom: 1rem" Text="Neues Produkt hinzufügen" Click="AddNewProduct" ></RadzenButton>

@if (_products != null)
{
    <ProductCardGrid Products="_products" State="ProductCardGrid.InteractionState.Edit" ></ProductCardGrid>
}



@code {
    private HubConnection? hubConnection;
    private IEnumerable<Product>? _products;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/datahub"))
            .Build();
        
        hubConnection.On("UpdatePayments", () => 
        {
            ///TODO: implement update after payment has been saved (maybe list past sales in a grid / update that grid)
        });
        
        hubConnection.On("UpdateProducts", async () =>
        {
            await UpdateProductList();
        });

        await UpdateProductList();
        
        await hubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    private async Task UpdateProductList()
    {
        var context = await _contextFactory.CreateDbContextAsync();
        _products = context.Products.ToList();
        await context.DisposeAsync();
        await InvokeAsync(StateHasChanged);
    }
    
    private async Task AddNewProduct()
    {
        await DialogService.OpenAsync<ProductDetail>($"Neues Produkt erstellen",
            new Dictionary<string, object>() { },
            new DialogOptions() { Width = "fit-content", Height = "fit-content", Resizable = true, Draggable = true });
    }

}